<div id="topbar">
    <a href="/">
        <img src="/public/images/logo-full.png" alt="Roblox 2015 Clone" id="topbar-logo">
    </a>
    <a href="/games">Games</a>
    <a href="/catalog">Catalog</a>
    <a href="/develop">Develop</a>
    <a href="/robux">ROBUX</a>
    <input id="search-bar" type="text" placeholder="Search">
    <div id="topbar-right">
        <a href="/">Sign Up</a>
        <a href="/">Log In</a>
    </div>
</div>