<div id="topbar">
    <a href="/">
        <img src="/public/images/logo-full.png" alt="Roblox 2015 Clone" id="topbar-logo">
    </a>
    <a href="/games">Games</a>
    <a href="/catalog">Catalog</a>
    <a href="/develop">Develop</a>
    <a href="/robux">ROBUX</a>
    <% if (session.user.admin) { %>
        <a href="/adminpanel">Admin Panel</a>
    <%}%>
    <input id="search-bar" type="text" placeholder="Search">
    <div id="topbar-right">
        <% if (!session.authenticated) { %>
            <a href="/">Sign Up</a>
            <a href="/">Log In</a>
        <% } else { %>
            <div id="robux">
                <img src="/public/images/robux.png">
                <a href="/robux" id="topbar-robux"><%= session.user.robux %></a>
            </div>
            <div id="tickets">
                <a href="/develop" id="topbar-tickets"><%= session.user.tickets %></a>
            </div>
            <img src="/public/images/settings-icon.png" id="topbar-settings">
        <% } %>
    </div>
</div>