<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/styles/global.css" rel="stylesheet">
    <link href="/public/styles/topbar.css" rel="stylesheet">
    <link href="/public/styles/sidebar.css" rel="stylesheet">
    <link href="/public/styles/catalog.css" rel="stylesheet">
    <link href="/public/images/favicon.svg" rel="icon" type="image/svg+xml">
    <title>Avatar Items, Virtual Avatars, Virtual Goods</title>
</head>
<body>
    <%-include("../public/components/topbar.ejs", {session: session})%>
    <% if (session.authenticated) { %>
        <%-include("../public/components/sidebar.ejs", {session: session})%>
    <%}%>
    <div id="content">
        <div id="header">
            <h1>
                <a href="/catalog" id="header-text">
                    <b>Catalog</b>
                </a>
            </h1>
            <form method="GET" id="catalog-query">
                <input type="text" name="text" id="catalog-search-box">
                <select name="category">
                    <option value="All Categories">All Categories</option>
                    <option value="Featured">Featured</option>
                    <option value="Collectibles">Collectibles</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Body Parts">Body Parts</option>
                    <option value="Gear">Gear</option>
                </select>
                <button type="submit">
                    <b>Search</b>
                </button>
            </form>
        </div>
        <div id="catalog-categories">
            <ul id="categories-list">
                <li class="catalog-category">
                    <a>Featured</a>
                </li class="catalog-category">
                <li class="catalog-category">
                    <a>Collectibles</a>
                </li class="catalog-category">
                <hr>
                <li class="catalog-category">
                    <a>All Categories</a>
                </li>
                <li class="catalog-category">
                    <a>Clothing</a>
                </li>
                <li class="catalog-category">
                    <a>Body Parts</a>
                </li>
                <li class="catalog-category">
                    <a>Gear</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>