<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/styles/global.css" rel="stylesheet">
    <link href="/public/styles/topbar.css" rel="stylesheet">
    <link href="/public/styles/notauthorized.css" rel="stylesheet">
    <link href="/public/images/favicon.svg" rel="icon" type="image/svg+xml">
    <title>Not Authorized</title>
</head>
<body>
    <div id="topbar">
        <a href="/">
            <img src="/public/images/logo-full.png" alt="Roblox 2015 Clone" id="topbar-logo">
        </a>
        <a href="/games">Games</a>
        <a href="/catalog">Catalog</a>
        <a href="/develop">Develop</a>
        <a href="/robux">ROBUX</a>
        <input id="search-bar" type="text" placeholder="Search">
        <div id="topbar-right">
            <div id="robux">
                <img src="/public/images/robux.png">
                <a href="/robux" id="topbar-robux">?</a>
            </div>
            <div id="tickets">
                <a href="/develop" id="topbar-tickets">?</a>
            </div>
            <img src="/public/images/settings-icon.png" id="topbar-settings">
        </div>
    </div>
    <div id="content">
        <div id="moderation">
            <%if (moderation.type.toLowerCase() == "warning") {%>
                <h1>Warning</h1>
            <%} else if (moderation.type.toLowerCase() == "deleted") {%>
                <h1>Account Deleted</h1>
            <%} else {%>
                <h1>Banned for <%=moderation.modLength%></h1>
            <%}%>
            <p>Our content monitors have determined that your behavior at ROBLOX has been in violation of our Terms of Service.
                We will terminate your account if you do not abide by the rules.
            </p>
            <p>Reviewed:</p> <b><%=moderation.reviewed%></b>
            <p>Moderator Note:</p> <b><%=moderation.note%></b>
            <p>Please abide by the ROBLOX Community Guidelines so that ROBLOX can be fun for users of all ages.</p
            <p>Your account has been disabled for <%=moderation.modLength%>. You may re-active it afterwards.</p>
            <p>If you wish to appeal, please send an email to appeals@roblox.com</p>
            <form method="POST" action="/users/logout">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>