<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/styles/global.css" rel="stylesheet" type="text/css">
    <link href="/public/styles/topbar.css" rel="stylesheet" type="text/css">
    <link href="/public/styles/profile.css" rel="stylesheet" type="text/css">
    <link href="/public/styles/buttons.css" rel="stylesheet" type="text/css">
    <link href="/public/images/favicon.svg" rel="icon" type="image/svg+xml">
    <title>Profile - ROBLOX</title>
</head>
<body>
    <div id="topbar">
        <% if (!session.authenticated) { %>
            <a href="/">
                <img src="/public/images/logo-full.png" alt="Roblox 2015 Clone" id="topbar-logo">
            </a>
        <% } %>
        <a href="/games">Games</a>
        <a href="/catalog">Catalog</a>
        <a href="/develop">Develop</a>
        <a href="/robux">ROBUX</a>
        <input id="search-bar" type="text" placeholder="Search">
        <div id="topbar-right">
            <% if (!session.authenticated) { %>
                <a href="/">Sign Up</a>
                <a href="/">Log In</a>
            <% } else { %>
                <a href="/robux" id="topbar-robux"><%= session.user.robux %></a>
                <a href="/develop" id="topbar-tickets"><%= session.user.tickets %></a>
                <img src="/public/images/settings-icon.png" id="topbar-settings">
            <% } %>
        </div>
    </div>
    <div id="sidebar"></div>
    <div id="content">
        <div id="profile-top-container">
            <img src=<%=user.avatarCdn%>>
            <h1><%=user.username%></h1>
            <div id="profile-actions">
                <% if (!session.authenticated) { %>
                    <button disabled>Message</button>
                    <button disabled>Send Friend Request</button>
                <%} else {%>
                    <button>Message</button>
                    <button>Send Friend Request</button>
                <%}%>
            </div>
        </div>
    </div>
</body>
</html>