#user-headshot {
    float: left;
    margin: 5px;
}

#greeting-div {
    margin-left: 13%;
}

#greeting {
    display: block;
    float: left;
    margin-top: 75px;
    font-weight: 100;
    color: #343434;
    overflow: hidden;
}

#games {
    display: inline-block;
    margin-top: 128px;
}