#profile-top-container {
    display: inline-block;
    background-color: #FFF;
    padding: 3px;
    padding-right: 775px;
    margin-top: 7.5%;
    box-shadow: #B8B8B8;
}

#profile-headshot {
    float: left;
    border-style: solid;
    border-width: .5px;
    border-color: #B8B8B8;
    padding: 1px;
    margin: 8.25px;
}

#profile-username {
    font-weight: 100;
    margin-left: 80%;
}